<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dicerollerfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cd1e04d3-7627-4cc0-ba72-f9f2792079cc/resourceGroups/DiceRoller/providers/Microsoft.Web/sites/DiceRollerFunctions</ResourceId>
    <UserName>$DiceRollerFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dicerollerfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>